* {box-sizing: border-box;

}

body {
    background-image: url(../images/light-grey-terrazzo.png);
    background-repeat: repeat;

}

header {
    border-bottom: solid;
    border-bottom-color: #cccccc;
    border-width: 2px;
    background-color: #ffffff;
    position: relative;
    height: 70px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-right: -10px;
    margin-left: -10px;
    
}

h1 {
    float: left;
    background-color: #4aaaa5;
    position: absolute;
    margin:-10px 280px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding: 17px;
    width: 215px;
    
    
}

.btn {
    float: right;
    /* margin-left: 200px; */
    /* text-align: center; */
    padding: 0px 10px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-color: #dddddd;
    margin-top: 20px;
    
    
}

.Contact {
    border-right: 0px;
    margin-right: 270px;
}

a:link{
    text-decoration: none;
    color: #777777;
    font-size: 14px;
}
a:visited
{
    text-decoration: none;
    color: #777777;
    font-size: 14px;
}

#main{
    position: relative;
    background-color: #ffffff;
    width: 725px;
    height: 375px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
}

h2, h3 {
    color: #4aaaa5;
    padding:20px;
    margin-top: -10px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;

}

img {
    float: left;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    height: 150px;
}

p {
    /* float: right; */
    /* position: absolute; */
    /* overflow: auto; */
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 25px;
}

#form {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: relative;
    background-color: #ffffff;
    width: 725px;
    height: 375px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
}

h3 {
    font-size: 18px;
    margin-left: -10px
}

input {
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
textarea {
    width: 682px;
    height: 125px;
}

#Name, #Email {
    padding-right: 550px;
}

#Message {
    border-color: #cccccc;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px 10px;
    border: 0px;
    margin: 10px 10px -10px 10px;
}


footer {
    position: sticky;
    background-color: #777777;
    border-style: solid;
    border-width: 5px;
    border-color: #4aaaa5;
    height: 70px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-right: -10px;

}
